*{
    margin: 0;
    padding: 0;
}
body{
    padding: 10px;
    font-family: "Gabarito", sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}
.navbar_s1{
    display: flex;

}
.navbar_s2{
    display: flex;
    gap: 20px;
    font-size: large;
    padding: 4px;
    
}
.navbar_s3{
    display: flex;
    gap: 20px;
}
.navbar_icon1{
    display: flex; 
    gap: 10px;
    align-items: center;
}
.navbar_world{
    border-left: 2px solid gray;
    height: 25px;
    padding: 5px;
    
}
.navbar_icon2 button{
    height: 120%;
    width: 150%;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-family: "Gabarito", sans-serif;
    font-size: large;
    align-items: center;
}

.navbar_icon2 button:hover{
    cursor: pointer;
    opacity: 0.9;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
   
}
.menu_s1{
    font-size:xx-large;
    padding: 5px;

}
.menu_s2{
    display: flex;
    margin-top: 3%;
    font-size: larger;
    justify-content: space-around;
    gap: 20px;
}
.menu_icon1{
    display: flex;
    border-bottom: 2px solid black;
    padding: 3px;
}
.menu_icon1:hover{
    cursor: pointer;
    opacity: 0.7;
}
.menu_icon2{
    display: flex;
    padding: 3px;
}
.menu_icon2:hover{
    cursor: pointer;
    opacity: 0.7;
    border-bottom: 2px solid black;
}
.menu_icon3{
    display: flex;
    padding: 3px;
}
.menu_icon3:hover{
    cursor: pointer;
    opacity: 0.7;
    border-bottom: 2px solid black;
}
.menu_icon4{
    display: flex;
    padding: 3px;
}
.menu_icon4:hover{
    cursor: pointer;
    opacity: 0.7;
    border-bottom: 2px solid black;
}
.menu_icon5{
   display: flex;
   padding: 3px;
}
.menu_icon5:hover{
    cursor: pointer;
    opacity: 0.7;
    border-bottom: 2px solid black;
}
.menu_s3{
    display: flex;
    margin-top: 3%;
    border: 2px solid black;
    height: 45px;
    width: 800px;
    border-radius: 30px;
    justify-content: space-between;
}
.menu_s3_search{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.menu_s3_search input{
    border: none;
    width: 100%;
    font-size: large;
}
.menu_s3_search input:focus{
    outline: none;
}
.menu_s3_button {
    padding: 10px;
    font-size: larger;
    background-color: aqua;
    border: 1px solid;
    border-radius: 50px;
    
}
.menu_s3_button button{
    border: none;
    font-size: large;
    background-color: aqua;
    font-family:"Gabarito", sans-serif ;
    padding: 2px;
}
.menu_s3_button button:hover{
    cursor: pointer;
    opacity: 0.2;
    color: black;
}
.appimage{
    display: flex;
    align-items: center;
    border: 2px solid black;
    margin-left: 10%;
    margin-right: 10%;
    height: 180%;
    margin-bottom: 5%;
    background-color: lightblue;
    border-radius: 30px;
}
.appimage_s2{
    margin-left: 5%;
   
    margin-bottom: 3%;
}
h2{
    font-size:xx-large;
}
.award{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
h3{
    font-weight: bolder;
    font-size: xx-large;
    padding: 5px;
}
.award_image{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    
}
.experience{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.experience_image{
    margin-top: 4%;
    display: flex;
    
}
.experience_image img{
    border-radius: 6%;
}

.explore{
    margin-top: 7%;
    margin-left: 5%;
    gap: 5;
}
.image_explore{
    display: flex;
}
.image_explore img{
        gap: 10;
        padding: 10px;
        border-radius: 30px;
        margin-bottom: 3%;
}
.awardicon{
    background-color: bisque ;
    margin-top: 4% ;
    margin-left: 5%;
    margin-right: 5%;
    
}
.awardicon h2{
    margin-left: 3%;
}
.awardicon p{
 margin-left: 4%;
}
.awardicon img{
    margin-top: 5%;
}
.footer_image{
    background-color: rgb(223, 205, 223);
}
.footer{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
    
    padding: 5px;
    
}
.footer_menu{
    display: flex;
    gap: 10;
    justify-content: space-around;
    
}
.footer_1{
    padding: 20px;
    gap:10;
}
.footer_2{
    padding: 20px;
    gap: 10;
}
.footer_3{
    padding: 20px;
    gap:10;
}
.footer_sites{
    padding: 20px;
}
.footer_image1{
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
    align-items: center;
}
.footer_icons {
    text-align: end;
    padding: 30px;
    
}
.company_footer{
    align-items: center;
    margin-left: 1%;
}
.footer_icons i{
    gap: 40;
    justify-content: space-around;
}
